.business-card-text {
    color: #383838;
}

.business-card-text.title {
    font-size: 1.5rem;
}

.business-card-text.subtitle {
    font-size: 0.925rem;
}

.business-card-text.caption {
    font-size: 0.75rem;
    color: #787878;
}

.business-card .inline {
    display: inline-block;
}

.business-card {
  position: relative;
  display: inline-grid;
  grid-template-rows: auto 21%;
  height: 220px;
  width: 360px;
  background-color: #fff;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  transition: transform 0.1s;
  overflow: hidden;
  cursor: pointer;
}

.field-container {
  display: grid;
  padding: 24px 36px 8px 36px;
  grid-template-rows: 1rem 2rem auto 1.3rem 1.3rem;
}

.business-card .field-container.editing {
  grid-template-rows: 1rem 2rem auto 1.8rem 1.8rem;
}

.business-card:hover {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.005, 1.005);
}

.business-card .right-block {
  width: 30%;
  height: 25%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: gainsboro;
  border-bottom-left-radius: 18px;
}

.business-card .bottom-block {
  width: 100%;
  height: 21%;
  bottom: 0;
  left: 0;
  position: absolute;
  display: grid;
  grid-template-columns: 45% 55%;
}

.business-card .bottom-block .color-block {
  background-image: linear-gradient(to left, #7f57a1, #2d71b8);
  border-top-right-radius: 18px;
  height: 100%;
}

.business-card .employee-country {
  height: 100%;
  padding-left: 8px;
}

.business-card .employee-country div {
  display: inline-block;
  font-size: 0.75rem;
  margin-left: 8px;
  color: #ccc;
}

.business-card .employee-country div.selected {
  color: #7f57a1;
}

.business-card .email-row {
  display: grid;
  grid-template-columns: auto auto auto;
  line-height: 1.8rem;
}

.business-card .department-row {
  display: grid;
  grid-template-columns: auto auto auto;
  line-height: 1.8rem;
}

.business-card input[type="text"] {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #A8A8A8;
}

.business-card input[type="text"]:focus {
  outline: none;
  border-bottom: 1px solid #2d71b8;
}

.business-card input[type="text"].error {
  border-bottom: 1px solid red;
}

.business-card select {
  line-height: normal;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-bottom: 1px solid #9f9f9f;
  box-shadow: none;
}