#notification-tooltip-expand-button {
    background-color: rgb(95, 97, 104);
    color: white;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
    display: inline-block;
}

#notification-tooltip-expand-button-badge {
    position: absolute;
    top: 0;
    right: 0;
    height: 12px;
    width: 12px;
    border-radius: 6px;
    background-color: #EF5350;
    display: none;
}

#notification-tooltip-expand-button-badge.active {
    display: block;
}

#notification-tooltip {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 10px;
    padding: 24px 24px;
    border-radius: 10px;
    min-width: 250px;
    min-height: 100px;
    z-index: 1;
    font-size: 0.85rem;
    text-align: center;
    background-color: rgb(95, 97, 104);;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.25s, opacity 0.25s linear;
}

#notification-tooltip.active {
    visibility: visible;
    opacity: 1;
}

#notification-tooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%;  
    right: 16px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(95, 97, 104) transparent;
}

#notification-tooltip-title {
    margin-bottom: 12px;
}

#notification-tooltip-tableview {
    max-height: 300px;
    overflow: auto;
}

.notification-tooltip-tableview-item {
    position: relative;
    cursor: pointer;
    text-align: start;
    border: 1px white solid;
    border-radius: 5px;
    padding: 8px 12px;
    margin-bottom: 12px;
    overflow: hidden;
}

.notification-tooltip-tableview-item a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.notification-tooltip-tableview-item-subtitle {
    font-size: 0.85rem;
    color: #C8C8C8;
}

.notification-tooltip-tableview-item-title {
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 1.2rem;
}

.notification-tooltip-tableview-item-message {}